* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* ---- Dashboard container ---- */

.dashboard-container {
    display: flex;
    height: auto;
    width: 100%;
}

/* ---- Topbar ---- */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 2;
    background: black;
    border-bottom: 2px #FF5733 solid;
}

.navbar ul {
    display: flex;
    align-items: center;
    height: 55px;
}
.navbar li {
    margin: 0 4px;
}

.navbar a {
    font-size: larger;
    color: white;
}

.navbar a:hover {
    color: #FF5733;
}

.navbar h1 {
    font-size: 45px;
}

.navbar button {
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 8 0px;
    background: black;
}

.navbar button:hover {
    background: #333333;
}

.navbar ion-icon {
    font-size: x-large;
    color: white;
}

/* ---- Sidebar ---- */

.sidebar {
    margin-right: 7px;
    padding-top: 80px;
    width: 20%;
    position: relative;
    transition: all .25s;
    background: #FF5733;
}

.sidebar li {
    margin: 4px;
    width: 100%;
}

.sidebar li a {
    display: block;
    padding-right: 97%;
}

.sidebar a {
    font-size: 25px;
    color: white;
}

.sidebar a:hover {
    width: 10%;
    color: #FF5733;
    background: white;
}

.sidebar.collapsed {
    max-width: 0;
    overflow: hidden;
}

/* ---- General Link styling ---- */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ---- Dashboard table ---- */

.dashboard-table h2 {
    margin-bottom: 8px;
}

/* ---- Main General ---- */

.main-content {
    margin-top: 80px;
    width: 100%;
    height: 100%;
}

.main-content h1 {
    font-size: 55px;
}

.main-content_large {
    width: 100%;
}

/* ---- Dashboad Top buttons ---- */

.board {
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px;
}

.products-button {
    display: flex;
    margin: 4px;
    border-radius: 4px;
    background: #c70606;
}

.products-button:hover{
    background: #f20505;
}

.products-button a {
    width: 200px;
}

.products-button h3 {
    font-size: 80px;
}

.products-button p {
    font-size: 20px;
}

.products-button h3, .products-button p {
    margin: 0 3px;
    color: whitesmoke;
}

.customers-button {
    display: flex;
    margin: 4px;
    border-radius: 4px;
    background: #1332bd;
}

.customers-button:hover {
    background: #1b43f5;
}

.customers-button a {
    width: 200px;
}

.customers-button h3 {
    font-size: 80px;
}

.customers-button p {
    font-size: 20px;
}

.customers-button h3, .customers-button p {
    margin: 0 3px;
    color: whitesmoke;
}

.suppliers-button {
    display: flex;
    margin: 4px;
    border-radius: 4px;
    background: #26802e;
}

.suppliers-button:hover {
    background: #36b542;
}

.suppliers-button a {
    width: 200px;
}

.suppliers-button h3 {
    font-size: 80px;
}

.suppliers-button p {
    font-size: 20px;
}

.suppliers-button h3, .suppliers-button p {
    margin: 0 3px;
    color: whitesmoke;
}

/* ---- table general ---- */

.table-container {
    margin-top: 20px;
    overflow: auto;
    height: 77vh;
}

.table-container thead th {
    position: sticky;
    top: 0;
}

.dashboard-table-container {
    margin-top: 20px;
    overflow: auto;
    height: 490px;
}

.dashboard-table-container thead th {
    position: sticky;
    top: 0;
}


table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

table h2 {
    padding: 6px;
}

table th, table td {
    padding: 8px;
}

table tr:hover {
    background: #ddd;
}

table th {
    padding: 12 0px;
    text-align: left;
    background: #FF5733;
    color: white;
}

/* ---- Action Buttons General ---- */

.new-data {
    margin: 3px;
    padding: 5px;
    font-size: 20px;
    border-radius: 3px;
    background: #3c9dea;
    color: white;
}

.new-data:hover {
    background: #7dc5ff;
}

.edit-data {
    padding: 5px;
    border-radius: 3px;
    background: #53b052;
    color: white;
}

.edit-data:hover {
    background: #6ce46a;
}

.view-data {
    padding: 5px;
    border-radius: 3px;
    background: #387bd1;
    color: white;
}

.view-data:hover {
    background: #2eb6ff;
}


input[type=submit] {
    margin: 2px 0px;
    margin-top: 4px;
    height: 3vh;
    width: 10vh;
    font-size: medium;
    color: white;
    background: #3c9dea;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit]:hover {
    background: #7dc5ff;
}

.cancel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px;
    height: 3vh;
    width: 10vh;
    color: white;
    background: #c70606;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cancel-button:hover {
    background: #f20505;
}


/* ---- Insert Forms ---- */

.form-container {
    width: 70vh;
    height: 80vh;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-container form label {
    margin-top: 8px;
}

.form-container form input[type=text], input[type=number], select {
    width: 100%;
    height: 3vh;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
