* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

@media only screen and (min-width: 1024px) {
    /* ---- Dashboard container ---- */

    .dashboard-container {
        display: flex;
        height: auto;
        width: 100%;
    }

    /* ---- Topbar ---- */

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        height: 70px;
        width: 100%;
        z-index: 2;
        background: black;
        border-bottom: 2px #FF5733 solid;
    }

    .navbar ul {
        display: flex;
        align-items: center;
        height: 55px;
    }

    .navbar li {
        margin: 0 4px;
    }

    .navbar a {
        font-size: larger;
        color: white;
    }

    .navbar a:hover {
        color: #FF5733;
    }

    .navbar h1 {
        font-size: 45px;
    }

    .navbar button {
        border: none;
        border-radius: 8px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        margin: 8 0px;
        background: black;
    }

    .navbar button:hover {
        background: #333333;
    }

    .navbar ion-icon {
        font-size: x-large;
        color: white;
    }

    /* ---- Sidebar ---- */

    .sidebar {
        margin-right: 7px;
        padding-top: 80px;
        width: 20%;
        height: 100%;
        position: relative;
        transition: all .25s;
        background: #FF5733;
    }

    .sidebar li {
        margin: 4px;
        width: 100%;
    }

    .sidebar li a {
        display: block;
        padding-right: 97%;
    }

    .sidebar a {
        font-size: 25px;
        color: white;
    }

    .sidebar a:hover {
        width: 10%;
        color: #FF5733;
        background: white;
    }

    .sidebar.collapsed {
        max-width: 0;
        overflow: hidden;
    }

    /* ---- General Link styling ---- */

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    /* ---- Dashboard table ---- */

    .dashboard-table h2 {
        margin-bottom: 8px;
    }

    /* ---- Main General ---- */

    .main-content {
        margin-top: 80px;
        width: 100%;
        height: 100%;
    }

    .main-content h1 {
        font-size: 55px;
    }

    .main-content_large {
        width: 100%;
    }

    /* ---- Dashboad Top buttons ---- */

    .board {
        display: flex;
        justify-content: center;
        margin: 4px;
        padding: 4px;
    }

    .products-button {
        display: flex;
        margin: 4px;
        border-radius: 4px;
        background: #c70606;
    }

    .products-button:hover {
        background: #f20505;
    }

    .products-button a {
        width: 200px;
    }

    .products-button h3 {
        font-size: 80px;
    }

    .products-button p {
        font-size: 20px;
    }

    .products-button h3,
    .products-button p {
        margin: 0 3px;
        color: whitesmoke;
    }

    .customers-button {
        display: flex;
        margin: 4px;
        border-radius: 4px;
        background: #1332bd;
    }

    .customers-button:hover {
        background: #1b43f5;
    }

    .customers-button a {
        width: 200px;
    }

    .customers-button h3 {
        font-size: 80px;
    }

    .customers-button p {
        font-size: 20px;
    }

    .customers-button h3,
    .customers-button p {
        margin: 0 3px;
        color: whitesmoke;
    }

    .suppliers-button {
        display: flex;
        margin: 4px;
        border-radius: 4px;
        background: #26802e;
    }

    .suppliers-button:hover {
        background: #36b542;
    }

    .suppliers-button a {
        width: 200px;
    }

    .suppliers-button h3 {
        font-size: 80px;
    }

    .suppliers-button p {
        font-size: 20px;
    }

    .suppliers-button h3,
    .suppliers-button p {
        margin: 0 3px;
        color: whitesmoke;
    }

    .orders-button {
        display: flex;
        margin: 4px;
        border-radius: 4px;
        background: #fcbd0f;
    }

    .orders-button:hover {
        background: #fad20a;
    }

    .orders-button a {
        width: 200px;
    }

    .orders-button h3 {
        font-size: 80px;
    }

    .orders-button p {
        font-size: 20px;
    }

    .orders-button h3,
    .orders-button p {
        margin: 0 3px;
        color: whitesmoke;
    }

    /* ---- table general ---- */

    .table-container {
        margin-top: 20px;
        overflow: auto;
        height: 77vh;
    }

    .table-container thead th {
        position: sticky;
        top: 0;
    }

    .table-container table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        width: 100%;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .table-container table h2 {
        padding: 6px;
    }

    .table-container th,
    .table-container td {
        padding: 8px;
        border: 1px solid #ddd;
    }

    .table-container table td:first-child {
        max-width: 150px;
    }

    .table-container table td:last-child {
        word-break: break-all;
    }

    .table-container table tr:hover {
        background: #ddd;
    }

    .table-container table th {
        padding: 12 0px;
        text-align: left;
        background: #FF5733;
        color: white;
    }

    /* ---- Dashboard table ---- */

    .dashboard-table-container {
        margin-top: 20px;
        overflow: auto;
        height: 490px;
    }

    .dashboard-table-container thead th {
        position: sticky;
        top: 0;
    }

    .dashboard-table-container table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        width: 100%;
    }

    .dashboard-table-container table h2 {
        padding: 6px;
    }

    .dashboard-table-container table th,
    table td {
        padding: 8px;
    }

    .dashboard-table-container table td:first-child {
        max-width: 150px;
    }

    .dashboard-table-container table td {
        border: 1px solid #ddd;
    }

    .dashboard-table-container table td:last-child {
        word-break: break-all;
    }

    .dashboard-table-container table tr:hover {
        background: #ddd;
    }

    .dashboard-table-container table th {
        padding: 12 0px;
        text-align: left;
        background: #FF5733;
        color: white;
    }

    #dash-id {
        width: 1%;
    }

    #dash-name {
        width: 30%;
    }

    #dash-descr {
        width: 30%;
    }

    #dash-qty {
        width: 5%;
    }

    #dash-prc {
        width: 5%;
    }

    #dash-act {
        width: 8%;
    }

    /* ---- Table witdh ---- */

    #invoice-id {
        width: 5px;
    }

    #invoice-status {
        width: 20vh;
    }

    #invoice-name {
        width: 50vh;
    }

    #invoice-update {
        width: 35vh;
    }

    #invoice-create {
        width: 35vh;
    }

    #invoice-user {
        width: 25vh;
    }

    #invoice-action {
        width: 25vh;
    }

    #order-id {
        width: 5px;
    }

    #order-status {
        width: 20vh;
    }

    #order-name {
        width: 50vh;
    }

    #order-update {
        width: 35vh;
    }

    #order-create {
        width: 35vh;
    }

    #order-user {
        width: 25vh;
    }

    #order-action {
        width: 20vh;
    }

    #pro-id {
        width: 3%;
    }

    #pro-name {
        width: 20%;
    }

    #pro-descr {
        width: 45%;
    }

    #pro-qty {
        width: 5%;
    }

    #pro-prc {
        width: 5%;
    }

    #pro-act {
        width: 10%;
    }

    #cust-name {
        width: 15%;
    }

    #cust-num {
        width: 15%;
    }

    #cust-mail {
        width: 20%;
    }

    #cust-addr {
        width: 40%;
    }

    #cust-act {
        width: 10%;
    }

    #sup-name {
        width: 15%;
    }

    #sup-num {
        width: 10%;
    }

    #sup-mail {
        width: 20%;
    }

    #sup-addr {
        width: 40%;
    }

    #sup-act {
        width: 10%;
    }

    /* ---- new invoice Form ---- */

    .order-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .order-title section {
        margin: 0 8px;
    }

    .order-form-container {
        height: 82.5vh;
        border-radius: 4px;
        background: whitesmoke;
        border: 1px solid gray;
    }

    .order-form-content table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    .order-form-content table th,
    table td {
        border-bottom: 1px solid black;
    }

    .order-form-content table td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .order-form-content input[type=number] {
        width: 50px;
    }

    .order-form-content input[type=float] {
        width: 50px;
    }

    #inv-ation {
        width: 10%;
    }

    #inv-name {
        width: 30%;
    }

    #inv-descr {
        width: 50%;
    }

    #inv-qty {
        width: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    #inv-prc {
        width: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    .order-form-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 4px;
    }

    .order-form-customer {
        display: flex;
        flex-direction: column;
        width: 25vh;
        height: 20vh;
    }

    .order-form-customer select {
        width: 25vh;
    }

    .order-form-shipping {
        width: 25vh;
        height: 20vh;
    }

    .order-form-billing {
        width: 25vh;
        height: 20vh;
    }

    .order-form-status {
        width: 25vh;
        height: 20vh;
    }

    .order-form-status select {
        width: 15vh;
    }

    .invoice-new-product {
        margin: 8 0px;
        border: none;
        border-radius: 2px;
        height: 25px;
        width: 100px;
        cursor: pointer;
        background: #3c9dea;
        color: white;
    }

    .invoice-new-product:hover {
        background: #2eb6ff;
    }

    /* ---- Action Buttons General ---- */

    .new-data {
        margin: 3px;
        padding: 5px;
        font-size: 20px;
        border-radius: 3px;
        background: #3c9dea;
        color: white;
    }

    .new-data:hover {
        background: #7dc5ff;
    }

    .edit-data {
        padding: 5px;
        border-radius: 3px;
        background: #53b052;
        color: white;
    }

    .edit-data:hover {
        background: #6ce46a;
    }

    .view-data {
        padding: 5px;
        border-radius: 3px;
        background: #387bd1;
        color: white;
    }

    .view-data:hover {
        background: #2eb6ff;
    }

    .download {
        padding: 5px;
        border-radius: 3px;
        background: #e6ad00;
        color: white;
    }

    .download:hover {
        background: #f7cd4d;

    }

    input[type=submit] {
        margin: 2px 0px;
        margin-top: 4px;
        height: 3vh;
        width: 10vh;
        font-size: medium;
        color: white;
        background: #3c9dea;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type=submit]:hover {
        background: #7dc5ff;
    }

    .cancel-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px 0px;
        height: 3vh;
        width: 10vh;
        color: white;
        background: #c70606;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .cancel-button:hover {
        background: #f20505;
    }


    /* ---- Insert Forms ---- */

    .form-container {
        width: 70vh;
        height: 80vh;
    }

    .form-container form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .form-container form label {
        margin-top: 8px;
    }

    .form-container form input[type=text],
    input[type=number],
    select {
        width: 100%;
        height: 3vh;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* ---- Popup ---- */

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgb(0, 0, 0, 0.4);
    }

    .modal-container {
        height: 75vh;
        width: 85vh;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        background: #FF5733;
        border-radius: 5px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input-container h1 {
        color: white;
    }

    .input-container input[type=text] {
        width: 40vh;
        height: 25px;
        border: 1px solid white;
        border-radius: 5px;
    }

    .results-container {
        margin: 8px;
        height: 62vh;
        width: 95%;
        overflow: auto;
        border: 1px solid white;
        border-radius: 4px;
        background: white;
    }

    .results-container table {
        width: 100%;
        table-layout: fixed;
    }

    .result-container thead th {
        top: 0;
        position: sticky;
        background: white;
    }

    #invoice-result tr {
        cursor: pointer;
    }

    #invoice-result tr:hover {
        background: #ddd;
    }

    .results-container td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid black;
    }

    #number {
        width: 5%;
    }

    #product {
        width: 35%;
    }

    #desc {
        width: 35%;
    }

    #qty {
        width: 10%;
    }

    #price {
        width: 10%;
    }
}

@media only screen and (min-width: 768) and (max-width: 1024px) and (orientation:portrait) {
    /* ---- For tablets ---- */

    .dashboard-container {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }

    .navbar {
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
        z-index: 2;
        background: black;
        border-bottom: 2px #FF5733 solid;
    }

    .sidebar {
        background: #FF5733;
    }

    /* --- Main --- */

    .main-content {
        width: 100%;
        height: 100%;
    }

    /* --- Dashboard --- */

    .board {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 50vh;
    }

}