* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 75vh;
    width: 80vh;
    background: #FF5733;
    border-radius: 5px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

input[type=text] {
    width: 40vh;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
}

.results-container {
    margin: 8px;
    height: 62vh;
    width: 85%;
    overflow: auto;
    border: 1px solid white;
    border-radius: 4px;
    background: white;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

thead th {
    position: sticky;
    top: 0;
    background: white;
}

td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #ddd;
}

#number {
    width: 10%;
}

#product {
    width: 35%;
}
#desc {
    width: 40%;
}

#qty {
    width: 10%;
}

#price {
    width: 10%;
}
