<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../assets/CSS/main.css">
    <link rel="icon" href="../assets/img/checklists.png">
    <meta name="description" content="assets/img/checklists.png">
    <link rel="stylesheet" href="../assets/CSS/comment.css">
    
</head>
<body>
    <div class="dashboard-container">
       
        {% include 'navbar.html' %}
        <main class="main-content">
